:root {
    --color1: #e7b2a5;
    --color2: #f1935c;
    --color3: #ba6b57;
    --color4: #223242;

}

body {
    background-color: var(--color1);
    color: var(--color4);
    font-weight: bold;
}


.overall {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.container {
    width: 400px;
    height: 300px;
    margin: 20px;
    background-color: var(--color2);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.container img {
    width: 90%;
}

.info {
    transition: all 0.5s ease;
    background-color: rgba(186, 107, 87, 0.8);
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0px;
    box-sizing: border-box;
    
    z-index: 2;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container:hover .info {
    height: 100%;
    padding: 20px;
}

p span + span {
    float: right;
}